body{
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    margin: 0px;
    padding: 0px;
    background: rgb(5,1,71);
    background: linear-gradient(90deg, rgba(5,1,71,1) 0%, rgb(15, 15, 99) 35%, rgba(73,10,125,1) 100%); 
    font-family: 'Poppins', sans-serif;
    color: white;
    width: 100%;
    height: 100vh;
    font-size: 2vw;
}
main {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}
main .leaderboard{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    align-self: center;
    text-align: center;
}
ul {
    list-style-type: none;
}

.navigation {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.navigation li {
    display: inline;
    position: relative;
    padding: 2% 5%;
}

.navigation li a {
    text-decoration: none;
    color: #d6dff7;
    size-adjust: 10%;
    position: relative;
  }
  
  .navigation li a:hover {
    color: rgb(255, 255, 255);
  }
  
  .navigation li a::after {
    content: "";
    background-color: rgb(255, 255, 255);
    width: 110%;
    height: 2px;
    position: absolute;
    bottom: -2px;
    left: 4%;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
  }
  
  .navigation li a:hover::after {
    transform: scaleX(1);
  }

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    align-self: center;
    text-align: center;
    margin-top: 10vh;
}

.container p {
    font-size: 3vw;
}

.container ul {
  padding-left: 0;
  margin: 0;
  margin-right: 3%;
  align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    align-self: center;
    text-align: center;
    width: 100%;
    /* height: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; */
}

.container ul li {
    margin: 5%;
    padding: 3%;
    width: 100%;
    height: 10%;
    text-align: center; /* Align text to the center */
    background-color: rgb(53, 25, 115);
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: 5px 2px 20px rgba(0, 0, 0, 0.3);
    /* cursor: pointer; */
}

.valid:hover {
  background-color: rgb(93, 8, 110); 
}

.invalid {
    cursor: not-allowed;
}

.congratulations-block {
    text-align: center; 
    margin-bottom: 20px; 
  }
  
  .congratulations {
    font-weight: bold;
    font-size: 5vw;
  }
  
  .quiz-finished {
    margin-top: 10px; 
    font-size: 2vw;
  }


  .score-table {
    width: 50%; 
    border-collapse: collapse;
    font-family: Arial, sans-serif;
  }
  
  .score-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  
  .score-text {
    border: 2px solid #ccc; 
    border-radius: 10px; 
    padding: 20px; 
    font-size: 30px;
    text-align: center; 
  }

  
  .score-image {
    position: flex; 
    right: 4vh;
    bottom: 4vh;
    margin-left: 20px;
    width: 22vh; 
}  



footer {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    height: 7vh;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    scroll-snap-stop: always;
}

/*Alert message*/


@media (max-width: 700px){
    body {
        font-size: 4vw;
    }

    .container p {
        font-size: 5vw;
    }
    
    .container ul {
        width: 65%;
    }

    .container ul li {
        font-size: 7vw;
    }


    .twitter-timeline {
        width: 70%;
    }
    .congratulations {
      font-size: 11vw;
    }

    .quiz-finished { 
      font-size: 5vw;
    }


}
