body{
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    margin: 0px;
    padding: 0px;
    background: rgb(5,1,71);
    background: linear-gradient(90deg, rgba(5,1,71,1) 0%, rgb(15, 15, 99) 35%, rgba(73,10,125,1) 100%);
    font-family: 'Poppins', sans-serif;
    color: white;
    width: 100%;
    height: 100vh;
    font-size: 147%;
}
main {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}
main .leaderboard{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    align-self: center;
    text-align: center;
}
ul {
    list-style-type: none;
    padding-left: 17px;
}

.navigation {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.navigation li {
    display: inline;
    position: relative;
    padding: 2% 5%;
}

.navigation li a {
    text-decoration: none;
    color: #d6dff7;
    font-size: 30px;
    position: relative;
}

.navigation li a:hover {
    color: rgb(255, 255, 255);
}

.navigation li a::after {
    content: "";
    background-color: rgb(255, 255, 255);
    width: 110%;
    height: 2px;
    position: absolute;
    bottom: -2px;
    left: -4%;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.navigation li a:hover::after {
    transform: scaleX(1);
}
.container ul li #text{
    width: 20%;
}
.navigation {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.navigation li {
    display: inline;
    position: relative;
    padding: 2% 5%;
}

.navigation li a {
    text-decoration: none;
    color: #d6dff7;
    font-size: 30px;
    position: relative;
}

.navigation li a:hover {
    color: rgb(255, 255, 255);
}

.navigation li a::after {
    content: "";
    background-color: rgb(255, 255, 255);
    width: 110%;
    height: 2px;
    position: absolute;
    bottom: -2px;
    left: -4%;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.navigation li a:hover::after {
    transform: scaleX(1);
}
.container ul li #text{
    width: 20%;
}
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    align-self: center;
    text-align: center;
    margin-top: 10vh;
}

.container p {
    font-size: 3vw;
}

.container ul {
    padding-left: 0;
    margin: 0;
    margin-right: 3%;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    align-self: center;
    text-align: center;
    width: 100%;
    /* height: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; */
}
#position {
    margin-right: 5px;
    border: 1px solid white;
    padding: 5px;
    border-radius: 5px;
}
.container ul li {
    margin: 5%;
    padding: 3%;
    width: 80%;
    height: 10%;
    text-align: center; 
    background-color: rgb(53, 25, 115);
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: 5px 2px 20px rgba(0, 0, 0, 0.3);
    
}
#invalidTH{
    background-color: rgb(78, 77, 86);
}
.valid:hover {
    background-color: rgb(93, 8, 110);
}

.invalid {
    cursor: not-allowed;
}

.congratulations-block {
    text-align: center;
    margin-bottom: 20px;
}

.congratulations {
    font-weight: bold;
    font-size: 5vw;
}

.quiz-finished {
    margin-top: 10px;
    font-size: 2vw;
}


.score-table {
    width: 50%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

.score-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.score-text {
    display: flex;
    flex-direction: row;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    justify-content: center; 
    align-items: center;
}


.score-image {
    position: flex;
    right: 4vh;
    bottom: 4vh;
    margin-left: 20px;
    width: 22vh;
}
.container div {
    padding-left: 0;
    margin: 0;
    margin-right: 3%;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    align-self: center;
    text-align: center;
    width: 100%;
    /* height: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; */
}

.container div button {
    margin: 3%;
    padding: 3%;
    width: 80%;
    height: 10%;
    text-align: center; 
    background-color: rgb(53, 25, 115);
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: 5px 2px 20px rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 30px;
}
/* Styles for navigation bar for leaderboard page */
.navigationLeaderBoard {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.navigationLeaderBoard li {
    display: inline;
    position: relative;
    padding: 2% 5%;
}

.navigationLeaderBoard li a {
    text-decoration: none;
    color: #d6dff7;
    font-size: 30px;
    position: relative;
}

.navigationLeaderBoard li a:hover {
    color: rgb(255, 255, 255);
}

.navigationLeaderBoard li a::after {
    content: "";
    background-color: rgb(255, 255, 255);
    width: 110%;
    height: 2px;
    position: absolute;
    bottom: -2px;
    left: -4%;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.navigationLeaderBoard li a:hover::after {
    transform: scaleX(1);
}
/* Styles for navigation bar for scoreboard page */
.navigationScoreboard {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.navigationScoreboard li {
    display: inline;
    position: relative;
    padding: 2% 5%;
}

.navigationScoreboard li a {
    text-decoration: none;
    color: #d6dff7;
    font-size: 30px;
    position: relative;
}

.navigationScoreboard li a:hover {
    color: rgb(255, 255, 255);
}

.navigationScoreboard li a::after {
    content: "";
    background-color: rgb(255, 255, 255);
    width: 110%;
    height: 2px;
    position: absolute;
    bottom: -2px;
    left: -4%;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.navigationScoreboard li a:hover::after {
    transform: scaleX(1);
}

    /* Styles for the footer */
    /* Sets the footer to be a flex container */
    /* Fixes the position of the footer to the bottom of the viewport */
footer {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    height: 7vh;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    scroll-snap-stop: always;
}

#leadbutton {
    width: 25%;
    min-width: 155px;
    margin: 20px;
    border-radius: 10px;
    background-color: rgb(62, 21, 136);
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: relative;
}



#leadbutton:hover {
    background-color: rgb(93, 8, 110);
}

#playerName{
    color: yellow;
    font-weight: bold;
}
#points{
    color: red;
    font-weight: bold;
}
#time{
    color: chartreuse;
    font-weight: bold;
}
#socialMedia{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}
.fb-share-button{
    margin-left: 10px;
    transform: translateY(-5px);
}

/* Media queries for screens with a maximum width of 768px */
/* Adjusts font size of body relative to viewport width */
/* Adjusts font size and layout of navigation elements */
/* Adjusts font size of container content */
/* Adjusts width and margin of container's unordered lists */
/* Adjusts font size and width of list items within container */
/* Adjusts width of Twitter timeline */
/* Adjusts font size of various elements like congratulations message, quiz finished message, and score text */
@media (max-width: 768px){
    body {
        font-size: 3vw;
    }
    .navigationLeaderBoard{
        font-size: 1em;
    }
    .navigationLeaderBoard li a{
        font-size: 23px;
    }
    .navigation {
        font-size: 3vw;
    }
    .navigation li a{
        font-size: 1em;
    }
    .container p {
        font-size: 5vw;
    }

    .container ul {
        width: 65%;
        margin-right: 6%;
    }

    .container ul li {
        font-size: 3.5vw;
        width: 90%;
    }


    .twitter-timeline {
        width: 70%;
    }
    .congratulations {
        font-size: 11vw;
    }

    .quiz-finished {
        font-size: 5vw;
    }

    /* Styles for the score text */
    /* Adds padding around the text */
    /* Sets font size to 18 pixels */
    /* Displays the text in a flex container */
    /* Centers the text horizontally and vertically */
    /* Sets the height of the container to 20% of the viewport height */
    .score-text {
        padding: 5px;
        font-size: 18px;
        display: flex;
        justify-content: center; 
        align-items: center; 
        height: 20vh; 
    }

    .fb-share-button{
        
        transform: translateY(6px);
    }


}

@media (max-width: 768px){

}


@media (max-width: 426px){
    h2{
        font-size: 22px;
    }
    .container p {
        font-size: 10vw;
    }
    .navigation li a{
        font-size: 2em;
    }
    .navigationScoreboard{
        padding-top: 10px;
    }
    .navigationScoreboard li a {
        font-size: 18px;
    }
    .score-text {
        padding: 5px;
        font-size: 18px;
        text-align: center;
    }
    .container ul{
        margin-right: 18%;
    }
    .container ul li{
        font-size: 4.5vw;
        width: 104%;
    }
    .navigationLeaderBoard{
        padding-top: 10px;
    }
    .navigationLeaderBoard li{
        padding: 2% 2%;
    }
    .navigationLeaderBoard li a{
        font-size: 17px;
    }
}
@media (max-width: 376px){
    h2{
        font-size: 19px;

    }
    .score-text {
        padding: 5px;
        font-size: 18px;
        text-align: center;
    }
    .navigationScoreboard li a {
        font-size: 16px;
    }
    .navigationLeaderBoard li a {
        font-size: 15px;
    }
}


@media (max-width: 321px){
    h2{
        font-size: 17px;

    }
    #position{
        padding: 4px;
    }
    .navigation li a {
        font-size: 3em;
    }
    .navigationScoreboard li a {
        font-size: 15px;
    }
    .navigationLeaderBoard li a {
        font-size: 18px;
    }
    .navigationLeaderBoard li {
        padding: 2% 1%;
    }
    .navigationLeaderBoard li a {
        font-size: 14px;
    }
    .score-text {
        padding: 5px;
        font-size: 18px;
        text-align: center;
    }
}





