@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700;800&display=swap');
body {
    background-color: #f5f5f3;
    align-items: center;
    align-content: center;
    align-self: center;
    margin: 0px;
    padding: 0px;
    background: rgb(5,1,71);
    background: linear-gradient(90deg, rgba(5,1,71,1) 0%, rgb(15, 15, 99) 35%, rgba(73,10,125,1) 100%); 
}

section {
    display: grid;
    /* place-items: center; */
    align-content: center;
    font-family: 'Poppins', sans-serif;
    color: white;
    width: 100%;
    height: 100vh;
    margin: 0%;
}

section h1 {
    font-weight: 800;
    font-size: 10vw;
    margin-bottom: 10%;
}


footer {
    align-items: center;
    align-content: center;
    background-color: #000000;
    color:#f5f5f3;
    align-self: center;
    margin: 0 auto;
    padding: 0;
    height: 7vh;
    text-align: center;
    width: 100%;
    top: 50%;
    display: flex;
    justify-content: center;

}

#logo {
    width: 20%;
    top: 0;
    position: absolute;

}

#game {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#start {
    width: 10%;
    min-width: 50px;
    margin: 20px;
}

.hidden {
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(-100%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}


.twitter-timeline{
    width: 10%;
}