@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700;800&display=swap');

#score{
    float: left;
}

#answer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background: linear-gradient(90deg, rgba(5,1,71,1) 0%, rgb(15, 15, 99) 35%, rgba(73,10,125,1) 100%);
    font-family: 'Poppins', sans-serif;
    color: white;
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#question, #score, #answer, #submitB, #answerField, #skipButton, #QR, a {
    margin: 5px; /* Adjust as needed */
}

button {
    cursor: pointer;
}
/*button:hover {*/
/*    background-color: white;*/
/*    border: none;*/
/*}*/

