@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700;800&display=swap');
body {
    background: linear-gradient(90deg, rgba(5,1,71,1) 0%, rgb(15, 15, 99) 35%, rgba(73,10,125,1) 100%);
    font-family: 'Poppins', sans-serif;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    height: 100vh; /* Ensure the body takes up the full height of the viewport */
    margin: 0; /* Remove default body margin */
    color: white;
    text-align: center;

}
#pleaseWaitMessage {
    margin-top: 100px;
}
#answer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
