@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700;800&display=swap');
body {
    align-items: center;
    align-content: center;
    align-self: center;
    margin: 0px;
    padding: 0px;
    background: rgb(5,1,71);
    background: linear-gradient(90deg, rgba(5,1,71,1) 0%, rgb(15, 15, 99) 35%, rgba(73,10,125,1) 100%);
    font-family: 'Poppins', sans-serif;
    color: white;
}