/*DESIGN FOR start.html */
body{
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    margin: 0px;
    padding: 0px;
    background: rgb(5,1,71);
    background: linear-gradient(90deg, rgba(5,1,71,1) 0%, rgb(15, 15, 99) 35%, rgba(73,10,125,1) 100%);
    font-family: 'Poppins', sans-serif;
    color: white;
    width: 100%;
    height: 100vh;
    font-size: 2vw;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    align-self: center;
    text-align: center;
    margin-top: 10vh;
}
.navigation {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.navigation li {
    display: inline;
    position: relative;
    padding: 2% 5%;
}

.navigation li a {
    text-decoration: none;
    color: #d6dff7;
    font-size: 30px;
    position: relative;
}

.navigation li a:hover {
    color: rgb(255, 255, 255);
}
.navigation li a::after {
    content: "";
    background-color: rgb(255, 255, 255);
    width: 110%;
    height: 2px;
    position: absolute;
    bottom: -2px;
    left: -4%;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.navigation li a:hover::after {
    transform: scaleX(1);
}
.container ul li #text{
    width: 20%;
}

.navigation li a:hover {
    color: rgb(255, 255, 255);
}

.navigation li a:hover::after {
    transform: scaleX(1);
}

#leadbutton {
    width: 25%;
    min-width: 155px;
    margin: 20px;
    border-radius: 10px;
    background-color: rgb(62, 21, 136);
    border: none;
    color: white;
    font-size: 18px;
    padding: 10px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: relative;
    height: 40px;

}
#leadbutton:hover {
    background-color: rgb(93, 8, 110);
}
input{
    width: 241px;
    height: 29px;
    border-radius: 10px;
}
h2{
    font-size: 2em;
}
/* Change cursor to pointer for all input fields */
input:hover {
    cursor: pointer;
}
/*/* Change cursor to pointer for button*/
button:hover {
    cursor: pointer;
}
footer {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    height: 7vh;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    scroll-snap-stop: always;
    font-family: 'Poppins', sans-serif; 
    font-size: 23.52px;
}
/*for tablets*/
@media (max-width: 768px) {
    h2{
        font-size: 3em;
    }
    .navigation {
        font-size: 3vw;
    }
    .navigation li a{
        font-size: 1em;
    }
    footer{
        font-size: 23.04px;

    }
}
/*for mobile phones*/
@media (max-width: 426px) {
    footer{
        font-size: 12.75px;

    }
    .navigation {
        font-size: 3vw;
    }
    .navigation {
        height: 61px;
        padding-top: 5px;
    }
    .navigation li{
        padding: 2% 2%;
    }
    .navigation li a {
        font-size: 24px;
    }
}
@media (max-width: 376px) {
    ul{
        padding-left: 9px;
    }
    footer{
        font-size: 11.28px;

    }
}

@media (max-width: 320px){
    .navigation li a{
        font-size: 23px;

    }
    ul{
        padding: 8px;
    }
    footer{
        font-size: 9.57px;
    }
}